<div class="article">
    <h2 class="article-title"><%= link_to article.title, article %>
    	<%- if @authenticated and @authenticated == article.member -%>
    	<%= link_to 'Edit', edit_article_url(article), :class => 'edit' %>
    	<%- end -%>
    	<%= tweet_button(article.title, article_url(article)).html_safe %></span>
    </h2>
    <div class="article-member">
        Posted by <%= link_to article.member.username, article.member %> on <%= article.created_at.to_s(:short) %>
    </div>
    <div class="article-body">
        <%= article.body.html_safe %>
    </div>
</div>
