<%= form_for @article do |f| %>
    <fieldset>
        <legend>Your article</legend>
        <div>
            <label for="article_title">Title</label>
            <%= f.text_field :title, :size => 60 %>
        </div>
        <div>
            <label for="article_body">Body</label>
            <%= f.text_area :body, :cols => 60, :rows => 10, :class => "mce-editor" %>
        </div>
        <div>
            <label for="article_published">Publish?</label>
            <%= f.check_box :published %>
        </div>
    </fieldset>
    <div class="submit">
        <%= f.submit "#{@article.new_record? ? 'Post' : 'Update'} article" %>
    </div>
<% end %>