<% no_map = event.lat.blank?  %>
<div class="grid_12 event">
    <div class="grid_1 alpha datetime">
        <div class="datestamp <%=status_class(event)%>">
            <div class="month"><%= event.starts_at.strftime("%b") %></div>
            <div class="day"><%= event.starts_at.strftime("%d") %></div>
        </div>

        <div class="timestamp <%=status_class(event)%>">
            <%= event.starts_at.strftime("%H:%M") %>
        </div>
    </div>

    <div class="map grid_3 <%=no_map ? 'no_map' : ''%>">
        <div id="event_map_<%=event.id%>">
            <%= "no map available" if no_map %>
        </div>
    </div>

    <div class="grid_7 omgega">
        <h2 class="eventitle <%=status_class(event)%>">
        	<%= link_to event.name, event_url(event.id) %>
            <%= raw tweet_button event.name, event_url(event.id) %>
        </h2>
        <ul>
            <li class="eventdate"><%= time_summary(event) %></li>
            <li class="eventlocation">
                <%= link_to_event_location(event) %>
            </li>
        </ul>
        <div class="eventdescription">
            <%= auto_link(event.description).html_safe %>
        </div>

    </div>
</div>

<% unless no_map %>
    <script>
        $(document).ready(function() {
            show_map("event_map_<%=event.id%>", <%=event.lat || 'null'%>, <%=event.lon || 'null'%>);
        });
    </script>
<% end %>

