<h1>
	Events in Appsterdam
	<% if !@next_monday.nil? %>
	<span style="font-size: 18px; vertical-align: middle; font-family: 'Open Sans', helvetica, arial;">
		<%= link_to "Current week", events_url %> |
		<%= link_to "Week of #{@next_monday}", events_per_week_url(@next_monday) %>
	</span>
	<% end %>
</h1>
<div>
  <%= form_tag events_path, :method => 'get', :id => 'search' do %>
    <%= search_field_tag(:q, params[:q], :placeholder => 'Search events') %>
  <% end %>
</div>

<% @events_per_day.sort_by {|k,v| k}.each do |date, events| %>
    <h2 class="timeline"><%= timeline_header(date) %></h2>
    <div class="hr"></div>
    <%= render events %>

    <div class="grid_12 timelinespacer">&nbsp;</div>
<% end %>

<script
        src="http://maps.google.com/maps/api/js?sensor=true">
</script>
<script>
    function show_map(dom_id, lat, lon) {
        var coordinates = new google.maps.LatLng(lat, lon);
        var options = {
            zoom: 12,
            center: coordinates,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            disableDefaultUI: true
        };

        var map = new google.maps.Map(document.getElementById(dom_id), options);

        var image = '/images/eventlocation.gif';
        new google.maps.Marker({
            position: coordinates,
            map: map,
            icon: image
        });
        var styles = [
            {
                featureType: "all",
                elementType: "all",
                stylers: [
                    { saturation: -100 }
                ]
            }
        ];

        var mapType = new google.maps.StyledMapType(styles, { name:"Grayscale" });
        map.mapTypes.set('grayscale', mapType);
        map.setMapTypeId('grayscale');

        $('#'+dom_id).mouseover(function () {
            map.setOptions({disableDefaultUI: false, mapTypeControl: false});
            map.setMapTypeId(google.maps.MapTypeId.ROADMAP);
        });

         $('#'+dom_id).mouseleave(function () {
            map.setOptions({disableDefaultUI: true});
            map.setMapTypeId('grayscale');
        })
    }
</script>
