<table>
  <tr>
    <th>Name</th>
    <th>Weigth</th>
    <th>IPs</th>
    <th>Reporters</th>
    <th></th>
  </tr>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.name %></td>
      <td><%= member.spam_markings.size %></td>
      <td><%= member.spam_markings.map(&:ip_address).to_sentence %></td>
      <td><%= member.spam_markings.map { |s| s.reporter.try(:name) }.compact.to_sentence %></td>
      <td>
        <%= form_for member do |f| %>
          <%= f.hidden_field :marked_as_spam, :value => !member.marked_as_spam? %>
          <% if member.marked_as_spam? %>
            <%= f.submit "Unmark as spam", :confirm => "Add `#{member.name}' back to the membership listing?" %>
          <% else %>
            <%= f.submit "Remove membership listing", :confirm => "Remove `#{member.name}' from the membership listing?" %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
