<h1>
  <%= @title = 'Classifieds' %>
  <% if @authenticated %>
    <%= link_to 'Post to classifieds', new_classified_path %>
    <% if my_classifieds? %>
      <%= link_to 'All classifieds', classifieds_path %>
    <% elsif @authenticated.classifieds.empty? %>
      <span>My classifieds</span>
    <% else %>
      <%= link_to 'My classifieds', my_classifieds_path %>
    <% end %>
  <% else %>
    <span>Join and sign in to post classifieds</span>
  <% end %>
  <%= form_tag classifieds_path, :method => 'get', :id => 'search' do %>
    <%= search_field_tag(:q, params[:q], :placeholder => 'Search classifieds') %>
  <% end %>
</h1>

<% unless my_classifieds? %>
  <%= render 'classifieds/select' %>
<% end %>

<%= render @classifieds %>

<script>
(function(){
  function deactivate() {
    $("div.selection span.active").removeClass('active');
  }
  $("body").click(function() {
    deactivate();
  });
  $("body").keydown(function(event) {
    if (event.keyCode == 27) {
      deactivate();
    }
  });
  $("div.selection").delegate("span > a", "click", function(event) {
    event.stopPropagation()
    var clicked = $(this).parent();
    if (clicked.hasClass('active')) {
      clicked = $();
    }
    deactivate();
    clicked.addClass('active');
  });
})();
</script>
