<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= @title || 'Appsterdam' %></title>
<%= stylesheet_link_tag %w(default) %>
<%= csrf_meta_tag %>
</head>
<body><div id="page">

<div class="actions">
  <% if @authenticated %>
    <%= link_to 'Edit your listing', edit_member_path(@authenticated) %> <span>|</span>
    <%= link_to 'Log out', clear_session_path %>
  <% else %>
    <%= link_to 'Join as a member', new_member_path %> <span>|</span>
    <%= link_to 'Log in', new_session_path %>
  <% end %>
</div>
<%= yield %>

</div></body>
</html>
