<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= @title || 'Appsterdam' %></title>
<%= stylesheet_link_tag %w(default) %>
<%= csrf_meta_tag %>
</head>
<body><div id="page">

<div class="actions">
  <%= link_to 'Join as a member', new_member_path %>
</div>
<%= yield %>

</div></body>
</html>
