<!DOCTYPE html>
<html lang="en">
<head>
<title><%= @title || 'Appsterdam' %></title>
<meta charset="utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta http-equiv="imagetoolbar" content="no" />
<%= csrf_meta_tag %>
<%= stylesheet_link_tag %w(960 global members) %>
<link href='http://fonts.googleapis.com/css?family=Arvo:regular,bold&v1' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:light,regular,600,bold&v1' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
<%= javascript_include_tag %w(rails) %>
</head>
<body id="page-members">
  <div class="container_12">
    <div class="grid_8 nav">
      <ul>
        <li class="nav-members"><%= link_to 'Members', members_url, :title => 'Citizens of Appsterdam' %></li>
      </ul>
    </div>
    <div class="grid_2 suffix_2 social">
      <ul>
        <li><a href="http://twitter.com/appsterdamrs" class="twitter"></a></li>
        <li><a href="http://www.youtube.com/appsterdam" class="youtube"></a></li>
      </ul>
    </div>
    <div class="grid_12 content">
      <% if false %>
        <div class="actions">
          <%= form_tag members_path, :method => 'get' do %>
            <% if @authenticated %>
              <%= link_to 'Edit your listing', edit_member_path(@authenticated) %> <span>|</span>
              <%= link_to 'Log out', clear_session_path %>
            <% else %>
              <%= link_to 'Join as a member', new_member_path %> <span>|</span>
              <%= link_to 'Log in', new_session_path %>
            <% end %>
            <%= search_field_tag(:q, params[:q], :placeholder => 'Search members') %>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
