<fieldset>
  <legend>Profile</legend>
  <dl>
  <dt>Image:<dt>
  <dd><%= image_tag @member.picture, :width => '48', :height => '48' %></dd>
  <dt>Twitter username:</dt>
  <dd><%= @member.username %></dd>
  <dt>Name:</dt>
  <dd><%= @member.name %></dd>
  <dt>Location:</dt>
  <dd><%= @member.location %></dd>
  <dt>Web:</dt>
  <dd><%= link_to @member.website, @member.website %></dd>
  <dt>Description:</dt>
  <dd><%= @member.bio %></dd>
  </dl>
  <p class="help">Want to make changes? Update your profile information on Twitter and we will automatically pick up the changes.</p>
</fieldset>

<fieldset>
  <legend>Listing</legend>
  
  <div>
    What are you?
    <% Member::ENTITIES.each do |value, label| %>
      <% id = "member_entity_#{value}" %>
      <label for="<%= id %>"><%= f.radio_button :entity, value, :id => id %> <%= label %></label>
    <% end %>
  </div>
  <div class="when_entity_is company">
    <label for="member_job_offers_url">Is your company currently hiring? Please enter the webpage with your job offer(s) below:</label>
    <%= f.text_field :job_offers_url %>
  </div>
  <div class="when_entity_is student individual">
    Are you currently available for hire?
    <label for="member_available_for_hire"><%= f.check_box :available_for_hire %> Yes, I’m available for hire</label>
  </div>

  <div>
    Where do you work?
    <% Member::WORK_LOCATIONS.each do |value, label| %>
      <% id = "member_work_location_#{value}" %>
      <label for="<%= id %>"><%= f.radio_button :work_location, value, :id => id %> <%= label %></label>
    <% end %>
  </div>

  <div>
    <span class="when_entity_is company">
      What kind of work does your company do?
    </span>
    <span class="when_entity_is student">
      What kind of subjects do you study?
    </span>
    <span class="when_entity_is individual default">
      What kind of work do you do?
    </span>
    <span class="when_entity_is group">
      What subjects is your group concerned with?
    </span>
    <% Member::WORK_TYPES.each do |value, label| %>
      <% id = "member_work_types_#{value}" %>
      <label for="<%= id %>"><%= f.check_box :work_types, { :multiple => true, :id => id }, value, '' %> <%= label %></label>
    <% end %>
  </div>

  <div>
    For which platforms?
    <% Member::PLATFORMS.each do |value, label| %>
      <% id = "member_work_types_#{value}" %>
      <label for="<%= id %>"><%= f.check_box :platforms, { :multiple => true, :id => id }, value, '' %> <%= label %></label>
    <% end %>
  </div>
</fieldset>

<div class="submit">
<%= f.submit "Update membership listing" %>
<%= link_to "Cancel and go back", members_path %>
</div>

<script>
(function(){
  $(".when_entity_is:not(.default)").hide();
  function update(field) {
    $(".when_entity_is:not(." + field.value + ")").hide();
    $(".when_entity_is." + field.value).show();
  }
  $('input[name="member[entity]"]').click(function() {
    update(this);
  })
  $('input[name="member[entity]"][checked]').each(function() {
    update(this);
  });
})();
</script>