<div class="<%= member_classes(member) %>">
  <h2>
    <%= link_to("http://twitter.com/#{member.username}") do %>
      <img src="<%= member.picture %>">
      <%= member.name %>
    <% end %>
  </h2>
  <p><%= link_to member_domain(member.website), member.website %></p>
  <p><%= member.bio %></p>
  <%== member_tags(member.work_types, member.platforms) %>
  <%== member_meta(member) %>
  <ul>
    <li class="favourite"><a href="#TODO">Add to my favorites</a></li>
    <li class="report"><%= link_to "Report as spam", member_spam_markings_path(member), :method => :post %></li>
  </ul>
</div>
