<h1>
  <%= @title = 'Members' %>
  <%= form_tag members_path, :method => 'get', :id => 'search' do %>
    <%= search_field_tag(:q, params[:q], :placeholder => 'Search members') %>
  <% end %>
</h1>

<%= render 'members/select' %>

<%= render :partial => 'page' %>

<script>
(function(){
  function deactivate() {
    $("div.selection span.active").removeClass('active');
  }
  $("body").click(function() {
    deactivate();
  });
  $("body").keydown(function(event) {
    if (event.keyCode == 27) {
      deactivate();
    }
  });
  $("div.selection").delegate("span > a", "click", function(event) {
    event.stopPropagation()
    var clicked = $(this).parent();
    if (clicked.hasClass('active')) {
      clicked = $();
    }
    deactivate();
    clicked.addClass('active');
  });
})();

(function(){
  function load() {
    var url = $("#load_more > a").attr("href");
    $("#load_more").html("<span>Loading…</span>");
    $.get(url, function(response) { $("#load_more").replaceWith(response); });
  }
  $("#load_more > a").live("click", function(event){
    load();
    return false;
  })
  $(window).scroll(function(event) {
    if ($(document).height() - $(window).height() - $(document.body).scrollTop() < 800) {
      if ($('#load_more > a').size() != 0) {
        load();
      }
    }
  });
})();

$('.report a').live('ajax:success', function() {
  $(this).replaceWith('Reported as spam');
});
</script>
